<div class="modal-header">
  <h5 class="modal-title">Create Album</h5>
  <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <label for="input1" class="form-label">Album Name:</label>
      <input type="text" class="form-control" id="input1" name="albumName" [(ngModel)]="album.albumName" [appInputLength]="50" (remainingCharacters)="showAlbumNameRemainingCharacters($event)">
      <span *ngIf="albumNameRemainChars < 50" class="text-danger">{{albumNameRemainChars}}</span>
    </div>
    <div class="mb-3">
      <label for="input2" class="form-label">Description:</label>
      <input type="text" class="form-control" id="input2" name="albumDescription" [(ngModel)]="album.albumDescription" [appInputLength]="500" (remainingCharacters)="showAlbumDescRemainingCharacters($event)">
      <span *ngIf="albumDescRemainChars < 500" class="text-danger">{{albumDescRemainChars}}</span>
    </div>
    <div class="mb-3">
      <input type="file" class="form-control" (change)="onFileSelected($event)" multiple #fileInput>
      
    </div>
    
    <div class="mb-3">
      <div class="drag-drop-area"
        (dragover)="onFileDragOver($event)"
        (drop)="onFileDrop($event)">
        Drag and drop a file here
      </div>
    </div>
  </form>

  <!-- Collection of Pictures -->
  <div class="picture-collection">
    <div *ngFor="let picture of pictureList" class="picture-item" >
      <img [src]="picture" alt="Uploaded Picture">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" style="background-color: #0B2154;" (click)="closeModal()">Close</button>
  <button type="button" class="btn btn-danger" style="background-color: #68070f;" (click)="saveData()">Save</button>
</div>