.drag-drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }

  .picture-collection {
    display: flex;
    flex-wrap: wrap;
  }
  
  .picture-item {
    margin: 5px;
  }
  
  .picture-item img {
    max-width: 100px; /* Adjust the size as needed */
    max-height: 100px; /* Adjust the size as needed */
  }
  
  .btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn .btn-primary,
.btn .btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}

.modal-title {
  font-weight: 700;
  color: #0b2154;
}

.modal-body {
  font-weight: 400;
  color: #0b2154;
}