<div class="d-flex row justify-content-center">
    <div class="col-6 text-center">
        <a (click)="toggleLike()">
            <img [src]="isLiked ? '../../../assets/images/liked.png' : '../../../assets/images/like.png'" alt="img" width="30px" height="30px" class="mr-3 cursor">
        </a>
        &nbsp;
        <span *ngIf="likeCount > 0" (click)="toggleLikesDropdown()">{{ likeCount }}</span>
        <div *ngIf="showLikesDropdown" class="likes-dropdown">
            <p *ngFor="let likedUser of likedUsers">{{ likedUser }}</p>
        </div>
    </div>
    
    <div class="col-6 text-center">
        <a (click)="toggleCommentsVisibility()">
            <img src="../../../assets/images/comment.png" alt="img" width="25px" height="25px" class="mr-3 cursor">
        </a>
    </div>
    
<!-- Comments section -->
<div *ngIf="showComments" class="bg-light p-2">
    <div class="d-flex flex-row align-items-start">
        <img class="rounded-circle" [src]="user.profilePicture" width="40">
        <textarea class="form-control ml-1 shadow-none textarea"></textarea>
    </div>
    <div class="mt-2 text-right">
        <button class="btn btn-primary btn-sm" type="button" style="background-color: #AEDEFC;">
            <span class="comment-button-text">Comment</span>
        </button>
    </div>
    <div *ngFor="" class="media mb-3">
        <img src="assets/images/work.jpg" alt="img" width="45px" height="45px" class="rounded-circle mr-2">
        <div class="media-body">
            <p class="card-text text-justify"><strong>Hehe</strong> Test</p>
        </div>
    </div>
</div>
