* {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*----------------------------------(This code Important for Modal sizing on large device)-----------------------------------*/
.modal-dialog {
    position: relative;
    width: auto;
    max-width: 600px;
    margin: 0 auto;
}

/*----------------------------------------------------------------------------------------------------------------------------*/

.like {
    color: #68070F;
    cursor: pointer;
}

.like:hover {
    color: #68070F;
}

.profile-name,
.album-name {
    font-weight: 700;
    color: #0b2154;
}

.blurb {
    font-weight: 400;
    color: #0b2154;
}

.bg-buttons {
    background-color: rgb(238, 238, 238)
}

/* Change background color when a button is hovered */
.nav-item:hover {
    border-bottom: 2px solid #00aced; /* A slightly lighter shade, adjust as needed */
    color: #000;
}




/* Optionally, add transition for smooth animation */
.nav-item,
.bg-buttons {
    transition: background-color 0.3s;
}

/* Text color for the buttons */
.nav-item {
    font-weight: 700;
    color:#4b4b4b; /* Default text color */
}


.edit-icon {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    font-size: 0.8em;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.banner-title {
    position: relative;
}

  .profile-picture-container {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: filter 0.3s ease; /* Add transition for smooth effect */
  }
  
  .profile-picture:hover {
    filter: brightness(70%); /* Adjust the percentage for the desired dimming effect */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
    border-radius: 50%;
    overflow: hidden; /* Ensure the overlay stays inside the rounded circle */
    transition: background-color 0.3s ease; /* Add transition for smooth effect */
    text-align: center;
  }

  .overlay img {
    width: 50px; /* Adjust the width to make the icon smaller */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any default inline spacing */
    margin: 0 auto; /* Center the image within the div */
  }
  
  
  .profile-picture-container:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column; /* Display text below the image */
    justify-content: center;
    align-items: center;
}
  

.edit-icon {
    cursor: pointer;
}
