* {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*----------------------------------(This code Important for Modal sizing on large device)-----------------------------------*/
.modal-dialog {
    position: relative;
    width: auto;
    max-width: 600px;
    margin: 0 auto;
}

/*----------------------------------------------------------------------------------------------------------------------------*/

.like {
    color: #68070F;
    cursor: pointer;
}

.like:hover {
    color: #68070F;
}

.profile-name,
.album-name {
    font-weight: 700;
    color: #0b2154;
}

.blurb {
    font-weight: 400;
    color: #0b2154;
}

.bg-buttons {
    background-color: #68070f;
}

/* Change background color when a button is hovered */
.nav-item:hover {
    background-color: #8c0d28; /* A slightly lighter shade, adjust as needed */
}


/* Optionally, add transition for smooth animation */
.nav-item,
.bg-buttons {
    transition: background-color 0.3s;
}

/* Text color for the buttons */
.nav-item {
    font-weight: 700;
    color: white; /* Default text color */
}

/* Text color when a button is hovered */
.nav-item:hover {
    color: #fff;
}
