<app-navbar></app-navbar>

<div class="banner mt-5 pt-5">
  <div class="banner-title d-flex flex-column justify-content-center align-items-center">
    <div (click)="changeImage()" class="profile-picture-container" (mouseover)="showOverlay()" (mouseout)="hideOverlay()">
      <img [src]="user.profilePicture" alt="img" class="profile-picture" width="150px" height="150px">
      <div class="overlay">
        <img src="assets/images/camera.png" alt="Icon">
        <p class="text-overlay">Change</p>
      </div>
    </div>
    <h3 class="profile-name mt-4">{{ user.firstName }} {{ user.lastName }}</h3>

    <!-- Editable Bio Section -->
    <div *ngIf="!isEditingBio">
      <p class="blurb">{{ user.userBio }}
        <img src="assets/images/edit.png" alt="Edit" class="edit-icon" (click)="startEditingBio()">
      </p>
    </div>
    <div *ngIf="isEditingBio">
      <textarea [(ngModel)]="editedBio" class="form-control" rows="5"></textarea>
      <button class="btn btn-success mt-2" (click)="saveEditedBio()">Save</button>
    </div>
  </div>

  <div class="d-flex justify-content-around bg-buttons">
    <div class="nav">
      <a (click)="displayTimeline()" class="nav-item nav-link text-decoration-none mx-4">Timeline</a>
      <a (click)="displayFriends()" class="nav-item nav-link text-decoration-none mx-4">Friends</a>
      <a (click)="displayAlbums()" class="nav-item nav-link text-decoration-none mx-4">Albums</a>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row profile-body">
        <div class="d-none d-md-block col-md-4 col-xl-3 pt-4 left-wrapper">
            <div class="card rounded">
                <div class="card-body">
                    <h4>About</h4>
                    <!-- Email, Birthday, gender, mobile number -->
                    <div class="d-flex">
                        <img src="../../../assets/images/email.png" style="width: 30px; height: 30px; margin-right: 8px;">
                        <p>{{user.email}}</p>
                    </div>
                    <div class="d-flex">
                        <img src="../../../assets/images/phone.png" style="width: 30px; height: 30px; margin-right: 8px;">
                        <p>{{user.mobileNumber}}</p>
                    </div>
                    <div class="d-flex">
                        <img src="../../../assets/images/cake.png" style="width: 30px; height: 30px; margin-right: 8px;">
                        <p>{{user.birthday}}</p>
                    </div>
                    <div class="d-flex">
                        <img src="../../../assets/images/gender.png" style="width: 30px; height: 30px; margin-right: 8px;">
                        <p>{{user.gender}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-9 mx-auto mt-4">
          <app-wall *ngIf="showTimeLine"></app-wall>
          <app-friends *ngIf="showFriends"></app-friends>
          <app-albums *ngIf="showAlbums"></app-albums>
        </div>
    </div>
  </div>
</div>
