<div class="banner mt-5 pt-5">
    <div class="banner-title d-flex flex-column justify-content-center align-items-center">
      <div class="profile-picture-container" (mouseover)="showOverlay()" (mouseout)="hideOverlay()">
        <img [src]="user.profilePicture" alt="img" class="profile-picture" width="150px" height="150px">

        <!--<img src="assets/images/geo.JPG" alt="img" class="profile-picture" width="150px" height="150px">-->
        <div class="overlay">
          <p class="text-overlay">Change</p>
        </div>
      </div>
      <h3 class="profile-name mt-4">{{ user.firstName }} {{ user.lastName }}</h3>
      <p class="blurb">{{ user.userBio }}<img src="assets/images/edit.png" alt="Edit" class="edit-icon" (click)="changeImage()"></p>
    </div>
  
    <div class="d-flex justify-content-around bg-buttons">
      <div class="nav">
        <a routerLink="../profile" class="nav-item nav-link text-decoration-none mx-4">Timeline</a>
        <a routerLink="../friends" class="nav-item nav-link text-decoration-none mx-4">Friends</a>
        <a routerLink="../albums" class="nav-item nav-link text-decoration-none mx-4">Albums</a>
      </div>
    </div>
  </div>
  