<link rel="stylesheet" href="postlikelist.component.css">

<div class="modal-content">
    <div class="modal-header">
      <h5 class="likelist" id="box">Likes</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body">
        <div class="likelist-item"> <img src="././assets/images/selfie.jpg" alt="img">
            <div class="text">
                <h4><strong>Armored Clavio</strong></h4>
            </div>
        </div>
        <hr class="custom-hr">
        <div class="likelist-item"> <img src="././assets/images/work.jpg" alt="img">
            <div class="text">
                <h4><strong>Dingdong Dentist</strong></h4>
            </div>
        </div>
        <hr class="custom-hr">
        <div class="likelist-item"> <img src="././assets/images/sam.JPG" alt="img">
            <div class="text">
                <h4><strong>Sam Sumagui</strong></h4>
            </div>
        </div>
        <hr class="custom-hr">
        <div class="likelist-item"> <img src="././assets/images/jean.JPG" alt="img">
            <div class="text">
                <h4><strong>Jean De Vera</strong></h4>
            </div>
        </div>
    </div>
</div>
