<link rel="stylesheet" href="landing.component.css">

<meta name="viewport" content="width=device-width"/>

<main id="main">
    <section class="vh-100 position-relative" style="background-image: url('assets/images/landingbg.jpg'); background-size: cover;">
      <div class="overlay">
        <marquee id="slider" behavior="scroll" direction="left" bgcolor="#F875AA">
          <span style="font-family: 'Red Hat Display', sans-serif; color: white; font-weight: bold;">Explore the vibrant community on Pastebook! </span>
          <span style="font-family: 'Red Hat Display', sans-serif; color: white; font-weight: bold;">Connect with friends and share your stories. </span>
          <span style="font-family: 'Red Hat Display', sans-serif; color: white; font-weight: bold;">Discover the latest updates and trends. </span>
          <span style="font-family: 'Red Hat Display', sans-serif; color: white; font-weight: bold;">Join now and be a part of the Pastebook experience! </span>
        </marquee>
      <div class="full-width-bg relative text-white drop-shadow-safe-text">
        <div class="full-width-bg__inner flex flex-col items-center justify-center py-20 text-center">
          <h1 class="h1 mb-4 md:mb-7">Welcome to Pastebook!</h1>
            <p class="sh1 mb-11">Connecting Lives, One Post at a Time</p>
        <div class="flex justify-center gap-12">
          <a class="flex items-center justify-center rounded-md border-2 p-4 text-center join" style="background-color:#AEDEFC;" routerLink="/registration">Join Pastebook</a>
          <a class="flex items-center justify-center rounded-md border-2 p-4 text-center already" style="background-color: #F875AA;" routerLink="/login">Already a member?</a>
        </div>
        </div>
      </div>
      </div>
    </section>
</main>