
<app-navbar></app-navbar>
<title>Create Album</title>

<div class="d-flex">
   <div class="d-flex justify-content-center">
        <h1 class="album-name">Album Name Here</h1> 
        <img src="assets/images/edit.png" style="width: 15px; height: 15px">
    </div>
    <div class="d-flex justify-content-end">
        <img src="assets/images/delete.png" style="width: 25px; height: 40px">
    </div> 

</div>
    

    <div class="grid-template container my-4 text-center">
        <div class="item-1 ">    
            <h5>Add Photos</h5>
            <a href="assets/images/addPhoto.png" data-lightbox="id"><img src="assets/images/addPhoto.png" alt="" class="img-fluid" style="width:255px; height: 255px;"></a>     
        </div>
    <!--     @for item in blahblah {

        } -->
        <div class="item-2">
            <h5>@item.Photo hehe</h5>
            <a href="assets/images/cat.jpeg" data-lightbox="id"> <img src="assets/images/cat.jpeg" alt="" class="img-fluid" style="width:255px; height: 255px;"></a>  
        </div>
        <div class="item-3">
            <h5>@item.Photo hehe</h5>
            <a href="assets/images/cat.jpeg" data-lightbox="id"> <img src="assets/images/cat.jpeg" alt="" class="img-fluid" style="width:255px; height: 255px;"></a> 
        </div>
        <div class="item-4">
            <h5>@item.Photo hehe</h5>
            <a href="assets/images/cat.jpeg" data-lightbox="id"> <img src="assets/images/cat.jpeg" alt="" class="img-fluid" style="width:255px; height: 255px;"></a> 
        </div>
    </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
