* {
    box-sizing: border-box;
  }

body{
    transform: translateY(50px);
    background-color: #F5F8FA;
    font-family: 'Poppins', sans-serif;
 /*   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    margin: 0;
    font-weight: 300;
    line-height: 1.6;
    color: #212529;
    text-align: left;
}

.profile-name, .album-name {
    font-weight: 700;
    color: #0b2154;
}

.bg-buttons {
    background-color: #68070f;
}

.nav-item {
    font-weight: 700;
    color: white;
}

.grid-template {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.grid-template .item {
    flex: 0 0 calc(25% - 10px); /* 25% width for each item with a 10px margin between them */
    margin: 5px;
}

.grid-template .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.pale-background {
    background-color: #f2f2f2; /* Adjust the color as needed */
    padding: 20px; /* Adjust the padding as needed */
    border-radius: 30px;
    margin: 1rem;
}














