<app-navbar></app-navbar>

<div class="my-3 mx-3 mx-md-5" style="margin-top: 5rem !important;">
    <div class="pale-background">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <h1 class="album-name">{{ album.albumName }}</h1>
                <a (click)="openModal()"><img src="assets/images/edit.png" class="icon" alt="Edit"></a>
            </div>
            <div>
                <a class="me-3" (click)="confirmDelete()"><img src="assets/images/delete.png" class="icon" alt="Delete"></a>
            </div>
        </div>
        <div>
            <p>{{album.albumDescription}}</p>
            <p>{{album.createdOn}}</p>
        </div>
    </div>

    <div class="pale-background mt-3">
        <div class="grid-template container row">
            <div class="item col-6 col-md-4 col-lg-3">
                <a (click)="openModalAddPhoto()" class="add-photo">
                    <img src="../../../assets/images/addPhoto.png" alt="Add Photo" class="img-fluid">
                    <h5 class="album-name">Add Photo</h5>
                </a>
            </div>

            <!-- ngFor loop for each image stored in the database -->
            <div *ngIf="album.imageList?.length === 0" class="col-12 text-center">
                <h1>No Image</h1>
            </div>

            <div *ngFor="let photo of album.imageList" class="item col-6 col-md-4 col-lg-3">
                <a href="javascript:void(0);" class="photo-link" (click)="openSinglePhotoModal()">
                    <img [src]="photo.image" alt="" class="img-fluid album-photo">
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
