<div class="modal-header">
  <h5 class="modal-title">Add Photos</h5>
  <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <input type="file" class="form-control" (change)="onFileSelected($event)" multiple #fileInput>
    </div>
    
    <div class="mb-3">
      <div class="drag-drop-area"
        (dragover)="onFileDragOver($event)"
        (drop)="onFileDrop($event)">
        Drag and drop a file here
      </div>
    </div>
  </form>

  <!-- Collection of Pictures -->
  <div class="picture-collection">
    <div *ngFor="let picture of pictureList" class="picture-item">
      <img [src]="picture" alt="Uploaded Picture">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" style="background-color: #00aced;" (click)="closeModal()">Close</button>
  <button type="button" class="btn btn-danger" style="background-color: #ff4500;" (click)="saveData()">Add</button>
</div>
