<app-profile></app-profile>


<div class="grid-template container my-4 text-center">
    <div class="item-1 ">    
        <h5>Create Album</h5>
        <a href="portfolio/addPhoto.png" data-lightbox="id"><img src="portfolio/addPhoto.png" alt="" class="img-fluid" style="width:255px; height: 255px;"></a>     
    </div>
    <!-- @for item in blahblah {

    } -->
    <div class="item-2">
        <h5>@item.AlbumName</h5>
        <a href="portfolio/img2.jpg"data-lightbox="id"> <img src="portfolio/img2.jpg" alt="" class="img-fluid" style="width:255px; height: 255px;"></a>   
    </div>
    <div class="item-3">
        <h5>@item.AlbumName</h5>
        <a href="portfolio/img3.jpg"data-lightbox="id"> <img src="portfolio/img3.jpg" alt="" class="img-fluid" style="width:255px; height: 255px;"></a> 
    </div>
    <div class="item-4">
        <h5>@item.AlbumName</h5>
        <a href="portfolio/img4.jpg"data-lightbox="id"> <img src="portfolio/img4.jpg" alt="" class="img-fluid" style="width:255px; height: 255px;"></a> 
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>