<app-navbar></app-navbar>

<div class="container-fluid mt-5 pt-5">
    
    <div class="row mb-3">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="color: #33007C">
            <h2>ALL NOTIFICATIONS</h2>
    <!-- ngFOR -->
            <div class="pale-background media mb-2" *ngFor="let notif of notifs" (click)="goToSinglePage(notif)" >
                <img [src]="notif.userRequest?.profilePicture" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
                <div class="media-body mb-4">
                    <h5>{{notif.userRequest?.firstName}} {{notif.userRequest?.lastName}}</h5>
                    <!-- if posted, commented, liked -->
                    <p class="card-text">{{notif.content}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>