<app-navbar></app-navbar>

<div class="container-fluid mt-5 pt-5">
    
    <div class="row mb-3">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="color: #0b2154">
            <h2>ALL NOTIFICATIONS</h2>
    <!-- ngFOR -->
            <div class="pale-background media mb-2">
                <img src="assets/images/De Guzman, Christian.JPG" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
                <div class="media-body mb-4">
                    <h5>item.user.firstName  item.user.lastName</h5>
                    <!-- if posted, commented, liked -->
                    <p class="card-text">item.user.firstName  item.user.lastName commented on your post.</p>
                    <p class="card-text">item.user.firstName  item.user.lastName liked your post.</p>
                    <p class="card-text">item.user.firstName  item.user.lastName posted on your timeline.</p>
                </div>
            </div>
            <div class="pale-background media">
                <img src="assets/images/De Guzman, Christian.JPG" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
                <div class="media-body mb-4">
                    <h5>item.user.firstName  item.user.lastName</h5>
                    <!-- if posted, commented, liked -->
                    <p class="card-text">item.user.firstName  item.user.lastName commented on your post.</p>
                    <p class="card-text">item.user.firstName  item.user.lastName liked your post.</p>
                    <p class="card-text">item.user.firstName  item.user.lastName posted on your timeline.</p>
                </div>
            </div>
        </div>
    </div>
</div>













<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
