.profile-name, .album-name {
    font-weight: 700;
    color: #0b2154;
}

.blurb {
    font-weight: 400;
    color: #0b2154;
}
  
.bg-buttons {
    background-color: #68070f;
}

.nav-item {
    font-weight: 700;
    color: white;
}

.pale-background {
    background-color: #f2f2f2; /* Adjust the color as needed */
    padding: 20px; /* Adjust the padding as needed */
    border-radius: 10px;
}

