<title>Albums</title>

<div class="banner">
    <div class="banner-title d-flex flex-column justify-content-center align-items-center">
    <img src="https://images.pexels.com/photos/7871166/pexels-photo-7871166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="img" class="rounded-circle" width="150px" height="150px">
    <h3 class="profile-name mt-4">Samuel Geo Banico (CEO)</h3>
    <p class="blurb">If there would come a time that life gets too hard, wag naman pls :(</p>
    </div>


<div class="d-flex justify-content-around bg-buttons">
    <div class="nav">
        <a href="#" class="nav-item nav-link text-decoration-none">Friends</a>
        <a href="#" class="nav-item nav-link active text-decoration-none">Albums</a>
    </div>
</div>

</div>

<!-- FRIENDS LIST HERE -->
<!-- On repeat sa database keme (for) -->
<div class="d-flex justify-content-around align-items-center container-fluid mt-4">
    <div class="d-flex align-items-center">
        <img src="https://images.pexels.com/photos/7871166/pexels-photo-7871166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="User 1" class="rounded-circle" width="80px" height="80px">
        <div class="ml-3">
            <h4 class="profile-name">Samuel Geo Banico</h4> 
        </div>
    </div>

    <div class="d-flex align-items-center">
        <img src="https://images.pexels.com/photos/7871166/pexels-photo-7871166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="User 2" class="rounded-circle" width="80px" height="80px">
        <div class="ml-3">
            <h4 class="profile-name">Christian De Guzman Day2</h4> 
        </div>
    </div>
</div>

<!-- for demo lang, idedelete soon -->
<div class="d-flex justify-content-around align-items-center container-fluid mt-4">
    <div class="d-flex align-items-center">
        <img src="https://images.pexels.com/photos/7871166/pexels-photo-7871166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="User 1" class="rounded-circle" width="80px" height="80px">
        <div class="ml-3">
            <h4 class="profile-name">Aira Sumagui</h4> 
        </div>
    </div>

    <div class="d-flex align-items-center">
        <img src="https://images.pexels.com/photos/7871166/pexels-photo-7871166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="User 2" class="rounded-circle" width="80px" height="80px">
        <div class="ml-3">
            <h4 class="profile-name">Christian De Guzman Day2</h4> 
        </div>
    </div>
</div>

<div class="d-flex justify-content-around align-items-center container-fluid mt-4">
    <div class="d-flex align-items-center">
        <img src="https://images.pexels.com/photos/7871166/pexels-photo-7871166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="User 1" class="rounded-circle" width="80px" height="80px">
        <div class="ml-3">
            <h4 class="profile-name">Nathan Sabarizz</h4> 
        </div>
    </div>

    <div class="d-flex align-items-center">
        <img src="https://images.pexels.com/photos/7871166/pexels-photo-7871166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="User 2" class="rounded-circle" width="80px" height="80px">
        <div class="ml-3">
            <h4 class="profile-name">Jean DV</h4> 
        </div>
    </div>
</div>


<!-- END OF demo blah -->









<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
