/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';    

/* .container {
  f
} */

.navbar {
    background-color: #F875AA;
  }
  #cursor {
    cursor: pointer;
  }
  .wrapper {
      position: relative;
      text-align: right;
      cursor: pointer;
    }
    
    #toggler {
      opacity: 0;
      pointer-events: none;
      touch-action: none;
    }
    
    .dropdown {
      display: none;
      position: absolute;
      top: calc(100% + 10px);
      flex-direction: column;
      border: 1px solid #ccc;
      background-color: #fff; 
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 10px; 
      right: 0;
    }
    
    input:checked ~ .dropdown {
      display: flex;
    }
  
    .dropdown a {
      padding: 10px;
      color: #333;
      text-decoration: none;
      transition: background-color 0.3s;
    }
    
    .dropdown a:hover {
      background-color: #d4d4d4;
    }
  
.main-container {
    display: flex;
    flex-direction: column; 
  }
  
  .container {
    display: flex;
  }
  
  .left-column {
    width: 300px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f0f2f5;
    padding: 20px;
    overflow-y: scroll; 
    height: calc(100vh); 
  }

  .left-column::-webkit-scrollbar {
    display:none;
  }

  .scroll-container {
    max-height: 100%; 
    overflow-y: scroll; 
  }

  .scroll-container::-webkit-scrollbar {
    display: none; 
  }
  
  .right-column {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .navbar {
    z-index: 2; 
    height: 59px; 
    background-color: #3b5998;
  }
  

.custom-border {
    border: 2px solid #0b2154;
    border-radius: 10px;
}

.post h5 {
  color: #33007C;
  font-weight: bold;
}

.datetime {
  margin-bottom: 1px;
}


/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';    

.main-container {
    display: flex;
    flex-direction: column; 
  }
  
  .container {
    display: flex;
  }
  
  .left-column {
    width: 300px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f0f2f5;
    padding: 20px;
    overflow-y: scroll; 
    height: calc(100vh); 
  }

  .left-column::-webkit-scrollbar {
    display:none;
  }

  .scroll-container {
    max-height: 100%; 
    overflow-y: scroll; 
  }

  .scroll-container::-webkit-scrollbar {
    display: none; 
  }
  
  .right-column {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .navbar {
    z-index: 2; 
    height: 59px; 
    background-color: #3b5998;
  }
  

.custom-border {
    border: 2px solid #0b2154;
    border-radius: 10px;
}

.post h5 {
  color: #33007C;
  font-weight: bold;
}

.datetime {
  margin-bottom: 1px;
}

.dark-mode .main-container {
    /* background-color: #242323; */
    background-color: #000;
    color: #fff;
  }
  
  .dark-mode .left-column {
    /* background-color: #242323; */
    background-color: #000;
    color: #fff;
  }
  
  .dark-mode .scroll-container {
    /* background-color: #242323; */
    background-color: #000;
    color: #fff;
  }
  
  .dark-mode .right-column {
    /* background-color: #242323; */
    background-color: #000;
    color: #fff;
  }
  
  body.dark-mode .navbar {
    background-color: #AA336A;
  }
  
  
  .dark-mode .custom-border {
    border-color: #fff;
  }

  .dark-mode .card-body {
    /* background-color: #242323; */
    background-color: #000;
    color: #fff;
  }
  
  .dark-mode .post h5 {
    color: #fff;
  }
  
  .dark-mode .datetime {
    color: #fff;
  }
  
  body.dark-mode {
    /* background-color: #242323; */
    background-color: #000;
    color: #fff;
  }

  .dark-mode p {
    color: #fff; 
  }

body.dark-mode .banner {
    background-color: #000;
    color: #fff;
  }
  
  body.dark-mode .overlay {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
  }
  
  body.dark-mode .profile-name,
  body.dark-mode .blurb,
  body.dark-mode .edit-icon,
  body.dark-mode .nav-item,
  body.dark-mode .d-flex p,
  body.dark-mode .card,
  body.dark-mode .navbar {
    color: #fff;
  }
  
  body.dark-mode .bg-buttons {
    background-color: #242323;
  }
  
  body.dark-mode .nav-item:hover {
    background-color: #333;
  }
  
  body.dark-mode .card {
    background-color: #333;
    border-color: #555;
  }
  
  body.dark-mode .d-flex img {
    filter: invert(1);
  }

  .dark-mode .form-inline {
    background-color: #333;
  }

.dark-mode .comment {
    background-color: #000; 
    color: #ffffff;
}

.comment {
    background-color: #fff; 
    color: #000;
}

.dee-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }