<div class="container mt-5">
  <div class="card forgot-password-container">
    <div class="card-body">
      <h2 class="card-title">Forgot Password</h2>
      <p class="card-text">Enter your email address below to reset your password.</p>

      <form (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary my-3">Reset Password</button>
      </form>

      <!-- Only show this section if email is valid -->
      <div *ngIf="isValidEmail()" class="form-group">
        <label class="d-block">Change Password</label>
        <div class="input-group mt-3">
          <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="New password">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click)="showPassword = !showPassword">
              <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
            </button>
          </div>
        </div>
        <input [type]="showPassword ? 'text' : 'password'" class="form-control mt-3" placeholder="Confirm new password">
      </div>
    </div>
  </div>
</div>
