<app-navbar></app-navbar>
<app-otherprofile></app-otherprofile>

<div class="container-fluid">
    <div class="row profile-body">
        <div class="d-none d-md-block col-md-4 col-xl-3 pt-4 left-wrapper">
            <div class="card rounded">
                <div class="card-body">
                    <h4>About</h4>
                    <!-- Email, Birthday, gender, mobile number -->
                    <div class="d-flex">
                        <img src="../../../assets/images/email.png" style="width: 30px; height: 30px; margin-right: 8px;">
                        <p>user.email</p>
                    </div>
                    <div class="d-flex">
                        <img src="../../../assets/images/phone.png" style="width: 30px; height: 30px; margin-right: 8px;">
                        <p>user.mobileNumber</p>
                    </div>
                    <div class="d-flex">
                        <img src="../../../assets/images/cake.png" style="width: 30px; height: 30px; margin-right: 8px;">
                        <p>user.birthday</p>
                    </div>
                    <div class="d-flex">
                        <img src="../../../assets/images/gender.png" style="width: 30px; height: 30px; margin-right: 8px;">
                        <p>user.gender</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-9 mx-auto mt-4">
            <div class="middle-column">
                <div class="card">
                    <div class="card-header bg-transparent">
                        <form class="form-inline">
                            <div class="input-group w-100">
                                <input type="text" name="message" id="message" placeholder="Message" class="form-control form-control-md">
                                <div class="input-group-append">
                                    <div class="input-group-append">
                                        <!-- Added button by Sam to test the connection -->
                                        <!-- <button type="submit" class="btn btn-danger" style="background-color: #68070f;">Post</button> -->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- GetOwnUserTimeline START-->
                    <div class="card mt-2" *ngFor="let item of posts">
                        <div class="card-body">
                            <div class="media">
                                <img src="assets/images/De Guzman, Christian.JPG" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
                                <div class="media-body mb-4">
                                    <h5>{{item.user?.firstName}}</h5>
                                    <p class="card-text">{{item.content}}</p>
                                </div>
                            </div>

                           <app-likecomment></app-likecomment>
                        </div>
                    </div>

                    <div class="col-12 col-lg-9 vh-100">
                        <!-- <div class="middle-column"> -->
                        <!-- <div class="middle-column"> -->
                        <div class="rounded-3 shadow container-fluid border p-3" style="border-color: #e0e0e0;">
                            <form class="form-inline">
                                <div class="input-group w-100">
                                    <input type="text" name="message" id="message" placeholder="What's on your mind?" class="form-control form-control-md" (click)="openModal()">
                                    <div class="input-group-append">
                                        <!-- <button type="submit" class="btn btn-danger" style="background-color: #68070f;">Post</button> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Display Post -->
                        <h1 *ngIf="posts.length === 0; else thereIsPost">No Post</h1>
                        <ng-template #thereIsPost>
                            <div class="mt-2 scroll-container" appInfiniteScroll (scrolled)="onScroll()">
                                <div class="card mb-3" *ngFor="let post of posts">
                                    <div class="card-body">
                                        <div class="media">
                                            <img [src]="post.user?.profilePicture" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
                                            <div class="media-body mb-4">
                                                <h5>{{post.user?.firstName}} {{post.user?.lastName}}</h5>
                                                <p class="card-text">{{post.content}}</p>
                                            </div>
                                        </div>

                                        <app-likecomment></app-likecomment>
                                </div>
                    <hr class="custom-hr">
                </div>
            </div>

<script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
    })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
