<div *ngIf="isFriend">
    <div class="rounded-3 shadow container-fluid border p-3" style="border-color: #e0e0e0;">
        <form class="form-inline">
        <div class="input-group w-100">
            <input type="text" name="message" id="message" placeholder="What's on your mind?" class="form-control form-control-md" (click)="openModal()">
            <div class="input-group-append">
            <!-- <button type="submit" class="btn btn-danger" style="background-color: #68070f;">Post</button> -->
            </div>
        </div>
        </form>
    </div>
</div>

<h1 *ngIf="posts.length === 0; else thereIsPost">No Post</h1>
<ng-template #thereIsPost>
    <div class="mt-2 scroll-container" appInfiniteScroll (scrolled)="onScroll()">
        <div class="card mb-3" *ngFor="let post of posts">
            <div class="card-body" >
                <div class="media">
                    <img [src]="post.user?.profilePicture" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
                    <div class="media-body mb-4 post">
                        <h5 class="datetime">{{post.user?.firstName}} {{post.user?.lastName}}</h5>
                        <small><span>1 hour ago</span></small>
                        <img src="assets/images/public.png" alt="" style="height: 15px; margin-left: 5px;">
                        <!-- <img src="assets/images/friends.png" alt="" style="height: 15px; margin-left: 5px;"> -->
                        <p class="card-text">{{post.content}}</p>
                    </div>
                </div>

                <app-likecomment></app-likecomment>
            </div>
        </div>
    </div>
</ng-template>  

<script>
    let liked = false;

    function toggleLike() {
        liked = !liked;
        const likeButton = document.querySelector('.like i');
        likeButton.className = liked ? 'fa fa-thumbs-up' : 'fa fa-thumbs-o-up';
    }
</script>

<script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
    })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
