body {
    background-color: #f8f9fa;
  }

  .navbar {
    background-color: #68070f;
    color: white; 
    font-family: 'Poppins', sans-serif;
  }

  .navbar-brand {
    font-weight: bold;
  }

  .navbar-brand img {
    max-height: 30px; 
    margin-right: 10px; 
  }

  .navbar-nav .nav-link {
    color: white; 
  }


  .navbar-nav.ml-auto {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
  }