
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="navbar.component.css">

<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color:#68070F">
    <a routerLink="/" class="navbar-brand"><img src="assets/images/logo.png" alt="logo" class="img-fluid" width="30px" height="50px"></a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#responsive"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="responsive">
        <ul class="navbar-nav mr-auto text-capitalize">

            <li class="nav-item"><a routerLink="" class="nav-link">home</a></li>
            <li class="nav-item"><a routerLink="profile" class="nav-link">profile</a></li>
        </ul>

        <form class="form-inline ml-auto d-none d-md-block">
            <input type="text" name="searchUser" id="searchUser" placeholder="Search" class="form-control form-control-sm" (input)="onType($event)" [(ngModel)]="searchUser">
        </form>

        
        <a href="javascript:void(0);" class="btn btn-primary" (click)="openModal()" class="text-decoration-none" style="color:#CBE4F2;font-size:22px;">
            <i class="far fa-bell ml-3 d-none d-md-block"></i>
        </a> 


        <div class="wrapper">
            <input id="toggler" type="checkbox">
            <label for="toggler">
                <img width="30px" height="30px" src="assets/images/settings-icon.png" alt="">
            </label>
            <div class="dropdown" style="z-index: 2;">
                <a routerLink="/settings">Settings</a>
                <a (click)="logout()" routerLink="/login">Logout</a>
            </div>
      </div>
    </div>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>