<div class="main-container">
  <app-navbar class="navbar"></app-navbar>
  

  <div class="container">
    <div class="left-column d-none d-md-block col-md-3">
      <a [routerLink]="['profile/'+user.firstName+'_'+user.lastName]" class="text-decoration-none text-dark"><div class="rounded-3 shadow mb-3 border" style="border-color: #e0e0e0;" >
        <div class="text-center pt-4">
          <img [src]="user.profilePicture" alt="Profile" width="120px" height="120px" class="rounded-circle">
          <a  class="text-decoration-none text-dark post">
            <h5 class="mt-2">{{ user.firstName }} {{ user.lastName }}</h5>
          </a>
          <p class="mt-3">{{ user.userBio }}</p>
        </div>
      </div>
      </a>
      
      <div class="rounded-3 shadow container-fluid text-center p-2 border" style="border-color: #e0e0e0;">
        <ul class="list-unstyled nav justify-content-center">
          <a class="text-dark text-decoration-none d-flex align-items-center">
            <img src="../../../assets/images/online.png"  style="width: 10px; height: 10px; margin-left: 5px;">
            <li class="nav-item px-2"><strong>Online</strong></li> {{user.friendCount}}
          </a>
        </ul>
        <div *ngFor="let u of user.friends" >
          <a (click)="onFriendClick(u)" [routerLink]="['Profile/'+u.firstName+'_'+u.lastName]" class="dee-flex text-decoration-none text-dark">
            <img [src]="u.profilePicture" alt="" class="rounded-circle me-2" style="width: 25px; height: 25px;">
            <p>{{u.firstName}} {{u.lastName}}</p>
          </a>
        </div>
      </div> 
    </div>
    <div class="col-12 col-lg-9 vh-100" >
      <div class="rounded-3 shadow container-fluid border mt-3 p-3" style="border-color: #e0e0e0;">
          <form class="form-inline">
            <div class="input-group w-100">
              <input type="text" name="message" id="message" placeholder="What's on your mind?" class="form-control form-control-md" (click)="postModal()">
              <div class="input-group-append">
              </div>
            </div>
          </form>
        </div>
        <h1 *ngIf="posts.length === 0; else thereIsPost">No Post</h1>
        <ng-template #thereIsPost>
            <div class="mt-2 scroll-container" appInfiniteScroll (scrolled)="onScroll()">
                <div class="card mb-3 post" *ngFor="let post of posts">
                    <div class="card-body">
                      <div class="media">
                        <img *ngIf="post.friendId" [src]="post.friend?.profilePicture" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
                        <img  *ngIf="!post.friendId" [src]="post.user?.profilePicture" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
                        <div class="media-body mb-4 post">
                          <div class="d-flex">
                            <h5 style="cursor: pointer;" class="datetime" (click)="onUserClick(post.friend)"
                                >
                              {{ post.friend?.firstName }} {{ post.friend?.lastName }}
                            </h5>
                            <span style="cursor: pointer;" *ngIf="post.friendId" class="ms-2" (click)="onUserClick(post.user)"><small>posted to <strong>{{post.user?.firstName}} {{post.user?.lastName}}</strong></small></span>
                          </div>
                        <h5 style="cursor: pointer;" *ngIf="!post.friendId" class="datetime" (click)="onUserClick(post.user)"
                        [routerLink]="isCurrentUser(post.user) ? ['profile/'+user.firstName+'_'+user.lastName] : ['Profile/' + post.user?.firstName + '_' + post.user?.lastName]">{{post.user?.firstName}} {{post.user?.lastName}}</h5>
                        <small><span>{{post.createdOn}}</span></small>
                        <img *ngIf="post.isPublic" src="assets/images/public.png" alt="" style="height: 15px; margin-left: 5px;">
                        <img *ngIf="!post.isPublic" src="assets/images/friends.png" alt="" style="height: 15px; margin-left: 5px;">
                        <p class="card-text" (click)="onPostClick(post)">{{post.content}}</p>
                    </div>
                    </div>
                    <app-likecomment [post]="post"></app-likecomment>                                       
                </div>
            </div>
      </div>