/* styles.css or your component-specific stylesheet */

.main-container {
    display: flex;
    flex-direction: column; /* Stack columns vertically on smaller screens if needed */
  }
  
  .container {
    display: flex;
  }
  
  .left-column {
    width: 300px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f0f2f5;
    padding: 20px;
    overflow-y: hidden; /* Prevent vertical scrolling in the left column */
    height: calc(100vh); /* Adjust the height based on your actual navbar height */
  }
  
  .right-column {
    flex: 1;
    overflow-y: auto; /* Enable vertical scrolling for the right column */
    padding: 20px;
  }
  
  .navbar {
    z-index: 2; /* Ensure the navbar is above the left column */
    height: 59px; /* Adjust this value based on your actual navbar height */
    background-color: #3b5998;
  }
  