
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<link rel="stylesheet" href="home.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

<div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="left-column">
                    <div class="card card-left1 mb-4" >
                        <img src="assets/images/photo-1455448972184-de647495d428.jpg" alt="" class="card-img-top img-fluid">
                        <div class="card-body text-center ">
                            <img src="assets/images/De Guzman, Christian.JPG" alt="img" width="120px" height="120px" class="rounded-circle mt-n5">
                            <h5 class="card-title">Christian Gregor Day 2</h5>
                            <p class="card-text text-justify mb-2">Kapag binato ka ng bato, batuhin mo ng bato rin. </p>
                            <ul class="list-unstyled nav justify-content-center">
                               <a href="#" class="text-dark text-decoration-none"> <li class="nav-item">Friends <br> <strong>12M</strong></li></a>
                            </ul>
                        </div>
                    </div>

                    <div class="card shadow-sm card-left3 mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Photos<small class="ml-2"><a href="#">Edit </a></small></h5>
                            <div class="row">
                                <div class="col-6 p-1">
                                    <a href="assets/images/cat.jpeg" data-lightbox="id" ><img src="assets/images/cat.jpeg" alt="img" class="img-fluid my-2"></a>  
                                    <a href="assets/images/work.jpg"data-lightbox="id"><img src="assets/images/work.jpg" alt="img" class="img-fluid my-2"></a>
                                </div>

                                <div class="col-6 p-1">
                                    <a href="assets/images/selfie.jpg"data-lightbox="id"><img src="assets/images/selfie.jpg" alt="img" class="img-fluid my-2"></a>
                                    </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>

            <div class="col-12 col-lg-9" >
                <div class="middle-column">
                    <div class="card" >
                        <div class="card-header bg-transparent">
                            <form class="form-inline">

                                <div class="input-group w-100">
                                 <input type="text" name="message" id="message" placeholder="Message" class="form-control form-control-md">

                                 <div class="input-group-append">
                                        <div class="input-group-text">
                                                <i class="fas fa-camera"></i>
                                            </div>
                                 </div>
                                </div>
                            </form>
                        </div>
             
   <div class="card-body">
    <div class="media">
        <img src="assets/images/De Guzman, Christian.JPG" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
        <div class="media-body">
            <h5>Christian De Guzman</h5>
            <p class="card-text text-justify">Hays, ayaw q na. 🥺 Joke.</p>
        </div>
    </div>
   </div>                      
   <hr class="custom-hr">

<div class="card-body">
    <div class="media">
            <img src="assets/images/geo.JPG" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
        <div class="media-body">
                <h5>Samuel Geo Banico</h5>
                <p class="text-justify">Pancit Supremacy!! ❤</p>
                <div class="bg-white">
                    <div class="d-flex flex-row fs-12">
                        <div class="like p-2 cursor" onclick="toggleLike()">
                            <i class="fa fa-thumbs-o-up"></i>
                            <span class="ml-1">Like</span>
                        </div>
                        <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                    </div>
                </div>
                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="assets/images/De Guzman, Christian.JPG" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                    <div class="mt-2 text-right"><button class="btn btn-primary btn-sm" type="button" style="background-color: #68070f;">Post comment</button><button class="btn btn-primary btn-sm ml-1 shadow-none" type="button" style="background-color: #0B2154;">Cancel</button></div>
                </div>
                <div class="media mb-3">
                    <img src="assets/images/Sabariza, Josiah Natahaniel.JPG" alt="img" width="45px" height="45px" class="rounded-circle mr-2">
                    <div class="media-body">
                            <p class="card-text text-justify"><strong>Nathan Sabariza</strong> Super agree 😁</p>

                    </div>
            </div>
        </div>
    </div>
</div>
<hr class="custom-hr">

<div class="card-body">
    <div class="media">
            <img src="assets/images/1J3A3043.JPG" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
            <div class="media-body">
                <h5>Christian Deyto</h5>
                <p class="text-justify">Psalm 37:23-24 “The LORD makes firm the steps of the one who delights in him; though he may stumble, he will not fall, for the LORD upholds him with his hand.”</p>
             <a href="assets/img/mid5.jpg" data-lightbox="id"><img src="assets/img/mid5.jpg" alt="" class="img-fluid shadow-sm img-thumbnail">   </a>  
            </div>
    </div>
</div>
 </div>
 </div>
  </div>
  <br> <br> <br><br> <br> <br>


<script>
        let liked = false;

        function toggleLike() {
            liked = !liked;
            const likeButton = document.querySelector('.like i');
            likeButton.className = liked ? 'fa fa-thumbs-up' : 'fa fa-thumbs-o-up';
        }
    </script>

    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        })
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
