/* styles.css or your component-specific stylesheet */

.main-container {
    display: flex;
    flex-direction: column; /* Stack columns vertically on smaller screens if needed */
  }
  
  .container {
    display: flex;
  }
  
  .left-column {
    width: 300px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f0f2f5;
    padding: 20px;
    overflow-y: scroll; /* Prevent vertical scrolling in the left column */
    height: calc(100vh); /* Adjust the height based on your actual navbar height */
  }

  .left-column::-webkit-scrollbar {
    display:none;
  }

  .scroll-container {
    max-height: 100%; /* Set a maximum height for the container */
    overflow-y: scroll; /* or overflow-y: auto; */
  }

  /* Customize scrollbar appearance for WebKit browsers (Chrome, Safari) */
  .scroll-container::-webkit-scrollbar {
    display: none; 
    /* Set the width of the scrollbar */
  }
  
  .right-column {
    flex: 1;
    overflow-y: auto; /* Enable vertical scrolling for the right column */
    padding: 20px;
  }
  
  .navbar {
    z-index: 2; /* Ensure the navbar is above the left column */
    height: 59px; /* Adjust this value based on your actual navbar height */
    background-color: #3b5998;
  }
  

  .custom-border {
    border: 2px solid #0b2154;
    border-radius: 10px;
}

.post h5 {
  color: #33007C;
  font-weight: bold;
}
