<!-- single-photo.component.html -->

<div class="modal-content" style="width: 600px;">
    <div class="modal-body">
        <div class="media-body text-center">
            <img class="img-fluid" [src]="albumImage.image" alt="">
        </div>
        <div class="d-flex flex-row fs-12">
            <div class="like p-2 cursor" (click)="toggleLike()">
                <i class="fa fa-thumbs-o-up"></i>
                <span class="ml-1">Like</span>
            </div>
        </div>
        <hr class="custom-hr">
        <!-- Toggle button -->
        <div class="cursor" (click)="toggleCommentsVisibility()">
            {{ showComments ? 'Hide Comments' : 'Show Comments' }}
        </div>

        <!-- Comments section -->
        <div *ngIf="showComments" class="bg-light p-2">
            <div class="d-flex flex-row align-items-start">
                <img class="rounded-circle" src="assets/images/De Guzman, Christian.JPG" width="40">
                <textarea class="form-control ml-1 shadow-none textarea"></textarea>
            </div>
            <div class="mt-2 text-right">
                <button class="btn btn-primary btn-sm" type="button" style="background-color: #68070f;">Comment</button>
                <button class="btn btn-primary btn-sm ml-1 shadow-none" type="button" style="background-color: #0B2154;">Cancel</button>
            </div>
            <div *ngFor="let comment of comments" class="media mb-3">
                <img src="assets/images/work.jpg" alt="img" width="45px" height="45px" class="rounded-circle mr-2">
                <div class="media-body">
                    <p class="card-text text-justify"><strong>{{ comment.user }}</strong> {{ comment.text }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
