<app-navbar></app-navbar>
<app-profile></app-profile>

<div class="container-fluid">
    <div class="d-flex flex-wrap">
    <div class="row profile-body">
        <!-- left wrapper start -->
        <div class="d-none d-md-block col-md-4 col-xl-3 pt-4 left-wrapper">
            <div class="card rounded">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h6 class="card-title mb-0">About</h6>
                        <div class="form-group">
                            <select class="form-control" id="aboutOptions">
                                <option value="edit">
                                    <img src="../../../assets/images/edit_profile.png" alt="Edit Icon" class="icon-sm mr-2"> Edit
                                </option>
                                <option value="update">
                                    <img src="../../../assets/images/edit_profile.png" alt="Update Icon" class="icon-sm mr-2"> Update
                                </option>
                                <option value="view">
                                    <img src="../../../assets/images/edit_profile.png" alt="View Icon" class="icon-sm mr-2"> View all
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        

            
    <div class="col-12 col-lg-9 mx-auto mt-4" >
        <div class="middle-column">
            <div class="card" >
                <div class="card-header bg-transparent">
                    <form class="form-inline">
                    <div class="input-group w-100">
                        <input type="text" name="message" id="message" placeholder="Message" class="form-control form-control-md">

                        <div class="input-group-append">
                            <div class="input-group-append">
                                <!--Added button by Sam to test the connection-->
                                <!-- <button type="submit" class="btn btn-danger" style="background-color: #68070f;">Post</button> -->
                             </div>
                            </div>
                        </div>
                    </form>
                </div>
    <!-- GetOwnUserTimeline START-->        
    <div class="card mt-2" *ngFor="let item of posts">
        <div class="card-body">
            <div class="media">
                <img src="assets/images/De Guzman, Christian.JPG" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
                <div class="media-body mb-4">
                    <h5>{{item.user?.firstName}}</h5>
                    <p class="card-text">{{item.content}}</p>
                </div>
            </div>

            <div class="d-flex row justify-content-center">
                <div class="col-6 custom-border text-center">
                    <a href="#">
                        <img src="../../../assets/images/heart.png" alt="img" width="25px" height="25px" class="mr-3">
                    </a>
                </div>
            
                <div class="col-6 custom-border text-center">
                    <a href="">
                        <img src="../../../assets/images/comment.png" alt="img" width="25px" height="25px" class="mr-3">
                    </a>
                </div>
            </div>
        </div>
        <hr class="custom-hr">

        <div class="card-body">
            <div class="media">
                <img src="assets/images/geo.JPG" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
                <div class="media-body">
                    <h5>Samuel Geo Banico</h5>
                    <p class="text-justify">Pancit Supremacy!! ❤</p>
                </div>
            </div>
            <div class="media mb-3">
                <img src="assets/images/Sabariza, Josiah Natahaniel.JPG" alt="img" width="45px" height="45px" class="rounded-circle me-2">
                <div class="media-body">
                    <h6>Nate Sabarizz</h6>
                    <p class="text-justify">Super agree!! ❤</p>
                </div>
            </div>
        </div>

        <div class="bg-light p-2">
            <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="assets/images/De Guzman, Christian.JPG" width="40"><textarea class="form-control" style="resize: none;"></textarea></div>
            <div class="mt-2 text-right"><button class="btn btn-primary btn-sm" type="button" style="background-color: #68070f;">Comment</button><button class="btn btn-primary btn-sm ml-1 shadow-none" type="button" style="background-color: #0B2154;">Cancel</button></div>
        </div>
    </div>
    <!-- GetOwnUserTimeline END -->                     
    <hr class="custom-hr">

    <div class="card-body">
        <div class="media">
                <img src="assets/images/geo.JPG" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
            <div class="media-body">
                    <h5>Samuel Geo Banico</h5>
                    <p class="text-justify">Pancit Supremacy!! ❤</p>
                    <div class="bg-white">
                        <div class="d-flex flex-row fs-12">
                            <div class="like p-2 cursor" onclick="toggleLike()">
                                <i class="fa fa-thumbs-o-up"></i>
                                <span class="ml-1">Like</span>
                            </div>
                            <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                        </div>
                    </div>
            </div>
        </div>
                    <div class="media mb-3">
                        <img src="assets/images/Sabariza, Josiah Natahaniel.JPG" alt="img" width="45px" height="45px" class="rounded-circle mr-2">
                        <div class="media-body">
                                <p class="card-text text-justify"><strong>Nathan Sabariza</strong> Super agree 😁</p>
                        </div>
                </div>
                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="assets/images/De Guzman, Christian.JPG" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                    <div class="mt-2 text-right"><button class="btn btn-primary btn-sm" type="button" style="background-color: #68070f;">Comment</button><button class="btn btn-primary btn-sm ml-1 shadow-none" type="button" style="background-color: #0B2154;">Cancel</button></div>
                </div>
            </div>
        </div>
    </div>
    <hr class="custom-hr">

    <div class="card-body">
        <div class="media">
                <img src="assets/images/1J3A3043.JPG" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
                <div class="media-body">
                    <h5>Christian Deyto</h5>
                    <p class="text-justify">Psalm 37:23-24 “The LORD makes firm the steps of the one who delights in him; though he may stumble, he will not fall, for the LORD upholds him with his hand.”</p>
                
                </div>
        </div>
    </div>
    </div>
    </div>
</div>
</div>
<script>
        let liked = false;

        function toggleLike() {
            liked = !liked;
            const likeButton = document.querySelector('.like i');
            likeButton.className = liked ? 'fa fa-thumbs-up' : 'fa fa-thumbs-o-up';
        }
    </script>

    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        })
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
