<app-navbar></app-navbar>
<app-profile></app-profile>

<div class="container-fluid">
    <div class="d-flex flex-wrap">
    <div class="row profile-body">
        <!-- left wrapper start -->
        <div class="d-none d-md-block col-md-4 col-xl-3 pt-4 left-wrapper">
            <div class="card rounded">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h6 class="card-title mb-0">About</h6>
                        <div class="dropdown">
                            <button class="btn p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal icon-lg text-muted pb-3px">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="19" cy="12" r="1"></circle>
                                    <circle cx="5" cy="12" r="1"></circle>
                                </svg>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 icon-sm mr-2">
                                        <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                    </svg> <span class="">Edit</span></a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-branch icon-sm mr-2">
                                        <line x1="6" y1="3" x2="6" y2="15"></line>
                                        <circle cx="18" cy="6" r="3"></circle>
                                        <circle cx="6" cy="18" r="3"></circle>
                                        <path d="M18 9a9 9 0 0 1-9 9"></path>
                                    </svg> <span class="">Update</span></a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye icon-sm mr-2">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg> <span class="">View all</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            
    <div class="col-12 col-lg-9 mx-auto mt-4" >
        <div class="middle-column">
            <div class="card" >
                <div class="card-header bg-transparent">
                    <form class="form-inline">
                    <div class="input-group w-100">
                        <input type="text" name="message" id="message" placeholder="Message" class="form-control form-control-md">

                        <div class="input-group-append">
                            <div class="input-group-append">
                                <!--Added button by Sam to test the connection-->
                                <button type="submit" class="btn btn-danger" style="background-color: #68070f;">Post</button>
                             </div>
                            </div>
                        </div>
                    </form>
                </div>
    <!-- GetOwnUserTimeline START-->        
    <div class="card mt-2" *ngFor="let item of posts">
        <div class="card-body">
            <div class="media">
                <img src="assets/images/De Guzman, Christian.JPG" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
                <div class="media-body mb-4">
                    <h5>{{item.fullName}}</h5>
                    <p class="card-text">{{item.content}}</p>
                </div>
            </div>

            <div class="d-flex row justify-content-center">
                <div class="col-6 custom-border text-center">
                    <a href="#">
                        <img src="../../../assets/images/heart.png" alt="img" width="25px" height="25px" class="mr-3">
                    </a>
                </div>
            
                <div class="col-6 custom-border text-center">
                    <a href="">
                        <img src="../../../assets/images/comment.png" alt="img" width="25px" height="25px" class="mr-3">
                    </a>
                </div>
            </div>
        </div>
        <hr class="custom-hr">

        <div class="card-body">
            <div class="media">
                <img src="assets/images/geo.JPG" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
                <div class="media-body">
                    <h5>Samuel Geo Banico</h5>
                    <p class="text-justify">Pancit Supremacy!! ❤</p>
                </div>
            </div>
            <div class="media mb-3">
                <img src="assets/images/Sabariza, Josiah Natahaniel.JPG" alt="img" width="45px" height="45px" class="rounded-circle me-2">
                <div class="media-body">
                    <h6>Nate Sabarizz</h6>
                    <p class="text-justify">Super agree!! ❤</p>
                </div>
            </div>
        </div>

        <div class="bg-light p-2">
            <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="assets/images/De Guzman, Christian.JPG" width="40"><textarea class="form-control" style="resize: none;"></textarea></div>
            <div class="mt-2 text-right"><button class="btn btn-primary btn-sm" type="button" style="background-color: #68070f;">Comment</button><button class="btn btn-primary btn-sm ml-1 shadow-none" type="button" style="background-color: #0B2154;">Cancel</button></div>
        </div>
    </div>
    <!-- GetOwnUserTimeline END -->                     
    <hr class="custom-hr">

    <div class="card-body">
        <div class="media">
                <img src="assets/images/geo.JPG" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
            <div class="media-body">
                    <h5>Samuel Geo Banico</h5>
                    <p class="text-justify">Pancit Supremacy!! ❤</p>
                    <div class="bg-white">
                        <div class="d-flex flex-row fs-12">
                            <div class="like p-2 cursor" onclick="toggleLike()">
                                <i class="fa fa-thumbs-o-up"></i>
                                <span class="ml-1">Like</span>
                            </div>
                            <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                        </div>
                    </div>
            </div>
        </div>
                    <div class="media mb-3">
                        <img src="assets/images/Sabariza, Josiah Natahaniel.JPG" alt="img" width="45px" height="45px" class="rounded-circle mr-2">
                        <div class="media-body">
                                <p class="card-text text-justify"><strong>Nathan Sabariza</strong> Super agree 😁</p>
                        </div>
                </div>
                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="assets/images/De Guzman, Christian.JPG" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                    <div class="mt-2 text-right"><button class="btn btn-primary btn-sm" type="button" style="background-color: #68070f;">Comment</button><button class="btn btn-primary btn-sm ml-1 shadow-none" type="button" style="background-color: #0B2154;">Cancel</button></div>
                </div>
            </div>
        </div>
    </div>
    <hr class="custom-hr">

    <div class="card-body">
        <div class="media">
                <img src="assets/images/1J3A3043.JPG" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
                <div class="media-body">
                    <h5>Christian Deyto</h5>
                    <p class="text-justify">Psalm 37:23-24 “The LORD makes firm the steps of the one who delights in him; though he may stumble, he will not fall, for the LORD upholds him with his hand.”</p>
                <a href="assets/img/mid5.jpg" data-lightbox="id"><img src="assets/img/mid5.jpg" alt="" class="img-fluid shadow-sm img-thumbnail">   </a>  
                </div>
        </div>
    </div>
    </div>
    </div>
</div>
<script>
        let liked = false;

        function toggleLike() {
            liked = !liked;
            const likeButton = document.querySelector('.like i');
            likeButton.className = liked ? 'fa fa-thumbs-up' : 'fa fa-thumbs-o-up';
        }
    </script>

    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        })
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
