<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />

<div class="modal-content">
    <div class="modal-header">    
        <h5>Friend Requests</h5>
    </div>

    <div class="modal-body" style="height: 200px; overflow-y: auto;">
        <h3 *ngIf="requests.length === 0; else request" class="text-center">No Pending Requests</h3>
        <ng-template #request>
            <!-- Move ngFor to create a new set of elements for each friend request -->
            <div *ngFor="let request of requests">
                <a class="friendrequest-item" class="d-flex">
                    <div class="text-left user-item" class="d-flex" (click)="toProfile(request.user!)">
                        <img [src]="request.user?.profilePicture" alt="" class="rounded-circle" style="width: 50px; height: 50px;">
                        <div class="d-flex ms-2 flex-column justified-content-center">
                            <h6 class="mx-2"><strong>{{request.user?.firstName}} {{request.user?.lastName}}</strong></h6>
                            <span><small>{{request.createdOn}}</small></span>
                        </div>
                    </div>
                    <div class="ms-auto">
                        <input type="button" class="btn btn-danger btn-sm mx-1" style="background-color: #68070f;" value="Accept" (click)="accept(request)">
                        <input type="button" class="btn btn-secondary btn-sm mx-1" value="Reject" style="background-color: #0B2154;" (click)="reject(request)">
                    </div>
                </a>
                <hr>
            </div>
        </ng-template>
    </div>
</div>

