<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />

<div class="modal-content">
    <div class="modal-header">    
        <h5>Friend Requests</h5>
    </div>

    <div class="modal-body">
        <h3 *ngIf="requests.length === 0; else request">No Pending Requests</h3>
        <ng-template #request>
            <!-- Move ngFor to create a new set of elements for each friend request -->
            <div *ngFor="let request of requests" class="d-flex mb-2">
                <a class="friendrequest-item" (click)="toProfile(request.id!)">
                    <img [src]="request.user_Friend?.profilePicture" alt="" class="rounded-circle" style="width: 50px; height: 50px;">
                    <div class="text-left user-item" style="display: inline-block; margin-left: 10px; width: 100px;" >
                        {{request.user?.firstName}} {{request.user?.lastName}}
                    </div>
                </a>
                <div class="ml-auto">
                    <input type="button" class="btn btn-danger btn-sm mx-2" style="background-color: #68070f;" value="Accept" (click)="accept(request)">
                    <input type="button" class="btn btn-secondary btn-sm mx-2" value="Reject" style="background-color: #0B2154;" (click)="Reject()">
                </div>
                <hr>
            </div>
        </ng-template>
    </div>
</div>

