<!-- Include your CSS file -->
<link rel="stylesheet" href="notifnavbarmodal.component.css">

<div class="modal-content">
    <div class="modal-header">
        <h5 class="notifications" id="box">Notifications</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body" *ngFor="let notif of notifs">
        <div class="notifications-item" routerLink="/post">
            <img src="./assets/images/selfie.jpg" alt="img">
            <div class="text">
                <h4><strong>Armored Clavio</strong></h4>
                <p>{{notif.content}}</p>
            </div>
        </div>
    </div>
</div>
