<app-navbar></app-navbar>

<div class="mt-5 pt-5"></div>
<div class="card mx-auto my-5" style="width: 50rem;">
    <div class="card-body">
        <div *ngIf="post" class="media">
            <img [src]="post.user?.profilePicture" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
            <div class="media-body">
                <h5>{{post.user?.firstName}} {{post.user?.lastName}}</h5>
                <small><span>{{post.createdOn}}</span></small>
                        <img *ngIf="post.isPublic" src="assets/images/public.png" alt="" style="height: 15px; margin-left: 5px;">
                        <img *ngIf="!post.isPublic" src="assets/images/friends.png" alt="" style="height: 15px; margin-left: 5px;">
                <p class="text-justify">{{post.content}}</p>
                <app-likecomment [post]="post"></app-likecomment>
            </div>
        </div>
    </div>
</div>
