<title>Pastebook - Registration</title>
<link rel="stylesheet" href="registration.component.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<section class="vh-100 registation-container" style="background-image: url('assets/images/background.jpg'); background-size: cover;">
    <div class="container pt-5 h-100" >
      <div class="row dee-flex justify-content-center align-items-center">
        <div class="col col-xl-11">
          <div class="card mb-0 pb-0" style="border-radius: 1rem;" style="background-color: rgba(228, 228, 228, 0.8);">
            <div class="row g-2">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="assets/images/pastebook.png" alt="registration form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; max-height: 670px;" />
              </div>
              <div class="col-md-6 col-lg-7 dee-flex align-items-center">
                <div class="text-black pb-0">
                  <form (ngSubmit)="onSubmit()" class="pt-0 px-4 pb-0" #registrationForm="ngForm">
                        <div class="text-center mb-4">
                            <!-- <img src="assets/images/logo.png" alt="Logo" style="width: 4rem; height: 4rem;" /> -->
                            <h1 class="h2 fw-bold mb-0" style="color: #F875AA;">Pastebook Registration</h1>
                        </div>
            
                        <div class="mb-3 row" ngModelGroup="user">
                          <div class="col-md-6">
                            <label for="firstnane" class="form-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" name="firstName" [(ngModel)]="user.firstName" required #firstNameCtrl="ngModel" />
                            <div *ngIf="!firstNameCtrl.valid && (firstNameCtrl.dirty || firstNameCtrl.touched)" class="text-danger">First Name is required.</div>
                          </div>
                        
                          <div class="col-md-6">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" id="lastName" class="form-control" name="lastName" [(ngModel)]="user.lastName" required #lastNameCtrl="ngModel" />
                            <div *ngIf="!lastNameCtrl.valid && (lastNameCtrl.dirty || lastNameCtrl.touched)" class="text-danger">Last Name is required.</div>
                          </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" id="email" class="form-control" name="email" [(ngModel)]="user.email" required #emailCtrl="ngModel" />
                            <div *ngIf="!emailCtrl.valid && (emailCtrl.dirty || emailCtrl.touched)" class="text-danger">Email is required.</div>
                        </div>
                        <div class="mb-3 row">
                          <div class="col-md-6">
                            <label for="password" class="form-label">Password</label>
                            <div class="input-group form-outline">
                              <input
                                type="{{ showPassword ? 'text' : 'password' }}"
                                id="password"
                                class="form-control"
                                name="password"
                                [(ngModel)]="user.password"
                                required
                                #passwordCtrl="ngModel"
                              />
                              <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                                <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                              </button>
                            </div>
                            <div *ngIf="passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)" class="text-danger">
                              Password is required.
                            </div>
                          </div>

                          <div class="col-md-6">
                            <label for="confirmpassword" class="form-label">Confirm Password</label>
                            <input
                              type="{{ showPassword ? 'text' : 'password' }}"
                              id="confirmpassword"
                              class="form-control"
                              name="confirmPassword"
                              [(ngModel)]="confirmPassword"
                              (input)="onConfirmPasswordInput()"
                            />
                            <div *ngIf="confirmPasswordMismatch() && (confirmPassword || user.password)" class="text-danger">
                              Passwords do not match.
                            </div>
                          </div>
                        </div>




                        <div class="mb-3 row">
                          <div class="form-outline col-md-6">
                            <label for="birthday" class="form-label">Birthday</label>
                            <input type="date" id="birthday" class="form-control" name="birthday" [(ngModel)]="user.birthday" required
                                   #birthdayCtrl="ngModel" [max]="calculateMinDate()" />
                            <div *ngIf="!birthdayCtrl.valid && (birthdayCtrl.dirty || birthdayCtrl.touched)" class="text-danger">
                              {{ birthdayCtrl.errors?.['minAge'] ? 'You must be at least 13 years old.' : 'Birthday is required.' }}
                            </div>
                          </div>
                          
                          
                        
                          
                          <div class="form-outline col-md-6">
                            <label class="form-label" for="gender">Gender</label>
                            <select id="gender" class="form-select" name="gender" [(ngModel)]="user.gender" required #genderCtrl="ngModel">
                              <option value="" disabled selected>Select Gender</option>
                              <option value="0">Male</option>
                              <option value="1">Female</option>
                              <option value="2">Others</option>
                            </select>
                            <div *ngIf="!genderCtrl.valid && (genderCtrl.dirty || genderCtrl.touched)" class="text-danger">Gender is required.</div>
                          </div>
                          
                      </div>
      
                        <div class="form-outline mb-3">
                          <label class="form-label" for="mobileNumber">Mobile Number</label>
                          <input type="tel" id="mobileNumber" class="form-control" name="mobileNumber" [(ngModel)]="user.mobileNumber"/>                              
                        </div>

                        <div class="pt-2 justify-content-center text-center">
                          <button 
                          class="btn btn-dark btn-lg btn-block rounded-md border-2 p-3" 
                          style="background-color: #AEDEFC; border: 2px solid #F875AA; font-family: 'Popper', sans-serif; color: #001F3F;"
                          type="button" 
                          [disabled]="!registrationForm?.valid"
                          (click)="onSubmit()">
                          Register
                        </button>
                        
                        </div>
            
                        <p class="mt-4 mb-2 text-center" style="color: #0B2154;">Already have an account? <a routerLink="/login"
                            style="color: #0B2154;">Login here</a></p>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>