<div class="modal-content" style="width: 37vw; height: 52vh;">
  <!-- Your existing modal content goes here -->
  <div class="modal-header">
    <h5 class="modal-title" style="letter-spacing: 2px;">SEARCH</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body" style="overflow-y: auto;">
    <div class="d-flex align-items-center">
      <input placeholder="Search Pastebook" style="width: 70%;" name="searchUser" (input)="onType($event)" [(ngModel)]="searchUser">
      <button type="button" class="red" style="width: 30%;" (click)="showAllResults()">Show All Results</button>
    </div>
    <div *ngFor="let u of user" class="pale-background" (click)="userClicked(u)">
      <div class="row mt-3">
        <!-- First User -->
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <div class="d-flex align-items-center justify-content-start pale-background">
            <img src="https://images.pexels.com/photos/7871166/pexels-photo-7871166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="User 1" class="rounded-circle" width="40px" height="40px">
            <div class="ml-3">
              <h4 class="profile-name" style="font-size: small;">{{u.firstName}} {{u.lastName}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
